<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<nav th:fragment="nav">
    <div class="menu">

        <div class="link"><a href="/login">Login</a></div>
        <div class="link"><a href="/nutritionStore">Nutrition store</a></div>
        <div class="link"><a href="/trickCenter">Trick Center</a></div>
        <div class="link"><a href="/actionHistory">Action History</a></div>
    </div>

</nav>
</body>
</html>