<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>

    <meta charset="utf-8"/>
    <title>Nutrition Store</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bangers&family=PT+Sans&family=Yellowtail&display=swap');
    </style>
</head>
<body>


<div th:insert="fragments :: nav"></div>
<div><img src="/greenfox.png"></div>
<div th:text="|This is ${foxName}. Currently living on ${currentFood} and ${currentDrink}.|"></div>

<form th:action="@{/nutritionNew(name=${foxName})}" th:method="POST">
<div class="food" th:object="${foxFood}">
    <select class="form-control" id="food" name="foodList">
        <option value="">Select Food</option>
        <option th:each="food : ${foxFood}"
                th:value="${food}"
                th:text="${food}"></option>
    </select>
</div>
<div class="drink" th:object="${foxDrink}">
    <select class="form-control" id="drink" name="drinkList">
        <option value="">Select Drink</option>
        <option th:each="drink : ${foxDrink}"
                th:value="${drink}"
                th:text="${drink}"></option>
    </select>
    <input type="submit" value="Change">
</form>
</div>

</body>
</html>