<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bangers&family=PT+Sans&family=Yellowtail&family=Lobster&display=swap');
    </style>
</head>
<body>

<h1>Log in</h1>
<div th:if="${user != null && errorMessages != null}">
    <form th:action="@{/users/login}" th:method="post">
        <input type="email" id="email" name="email" placeholder="example@example.com"
               th:value="${user.email == null}?'':${user.email}">
        <input type="password" id="password" name="password">
        <input type="submit">
    </form>

    <p th:each="error:${errorMessages}" th:text="${error}" class="error"></p>
</div>

<div th:unless="${user != null}">
    <form th:action="@{/users/login}" th:method="post">
        <input type="email" id="email" name="email" placeholder="example@example.com">
        <input type="password" id="password" name="password">
        <input type="submit">
    </form>
</div>

</body>
</html>