<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div>
    <form th:action="@{/todo/search}"  method="GET">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Search</button>
    </form>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Urgent</th>
        <th>Done</th>
    </tr>
    </thead>

    <tr th:each="todo:${todos}">
        <td th:utext="${todo.getId()}"></td>
        <td th:utext="${todo.getTitle()}"></td>
        <td th:utext="${todo.isUrgent()}"></td>
        <td th:utext="${todo.isDone()}"></td>

    </tr>
</table>
</body>
</html>