a , span {
    background-color: green;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 60px;
}

a:hover {
    color: darkcyan;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 600px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px 10px gray;
    border-radius: 5px;
    margin-top: 200px;
}
nav {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
table, th, td {

    border-collapse: collapse;

}
td {

    border-top: 2px solid #3e94ec;
    color: #6a6e88;
}
th {
    background-color: #1b1e24;
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 35px;
    font-weight: 100;
}


th, td {
    margin-left: auto;
    padding: 10px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}
form.add  input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid ;
    float: left;
    width: 40%;
    background: #f1f1f1;

}

form.add  button {
    float: left;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-left: none; /* Prevent double borders */
    cursor: pointer;

}

.add  {
    margin-top: 50px;
    margin-left: 30%;
}