<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bangers&family=PT+Sans&family=Yellowtail&family=Lobster&display=swap');
    </style>
</head>
<body>

<!--<h1>Default</h1>-->
<form th:action="@{/save-link}" th:method="post">
    <label for="url" hidden>URL</label>
    <input type="text" id="url" name="url" placeholder="" autofocus  required >
    <label for="alias">Alias: </label>
    <input type="alias" id="alias" name="alias" required>
    <input type="submit" value="Submit">
</form>


</body>
</html>