<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bangers&family=PT+Sans&family=Yellowtail&display=swap');
    </style>
</head>

<body th:style="'background-color:'+ ${color} + ';'">
<nav>
    <div>
        <a href="/useful">Useful</a>
        <a href="/useful/colored">Colored</a>
        <a href="/useful/email">Email</a>

    </div>

</nav>


</body>
</html>
</html>
