<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>

    <meta charset="utf-8"/>
    <title>Email</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bangers&family=PT+Sans&family=Yellowtail&display=swap');
    </style>
</head>

<body>
<div th:insert="fragments :: nav"></div>

<div>
    <h1 th:style="|color: ${color}|" th:text= "${text}"> </h1>
</div>



</body>
</html>
</html>
